a {
    color: blue;
    padding: 10px;
}

body {
    background-color: silver;
}

h1 {
    color: black;
    font-family: verdana;
    font-size: 200%;
}

p {
    border: 1px solid powderblue;
    padding: 20px;
    margin: 15px;
}

img {
    float:left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}