<!DOCTYPE html>
<html>

<style>
    {% block my_style %} {% endblock %}
.logo {
    height: 200px;
    width: 600px;
    position: static;
    padding-left: 710px;
}
</style>

<head>
	<meta charset="utf-8" />
    <title>AdVMeet {% block my_title %} {% endblock %}</title>
</head>
<body background="/static/wall.jpg">
     <div class = "logo">
 	      <a href="#home"><img style = "opacity: 0.7; border: 3px solid #94b8b8; border-radius: 1em;" src="/static/logo.jpg"></a>
    </div>
   <hr>





{%- block my_body %}{%- endblock %}

</body>

</html>
