<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<script src="https://code.getmdl.io/1.2.1/material.min.js"></script>
	<link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.blue_grey-orange.min.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
	<link rel="stylesheet" href="{{ url_for('static', filename='style_new.css') }}" />
	<title>Advmeet</title>

	{% block style %} {% endblock %}

</head>

<body>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header class="mdl-layout__header mdl-layout__header--waterfall mdl-layout__header--transparent">
			<div class="mdl-layout__header-row">
				<div class="header-row_container">
					<div class="header-row_left"></div>
					<div class="header-row_right">
						<div class="nav_icons_container">
                            {% if session['logged_in']%}
                            <button id="notifications_button" class="mdl-button mdl-js-button mdl-button--icon nav_icons">
								<div class="material-icons mdl-badge mdl-badge--overlap badge_icons" data-badge="2">notifications</div>
							</button>
							<div class="mdl-tooltip" data-mdl-for="notifications_button">Notifications</div>
							{#<button id="friends_button" class="mdl-button mdl-js-button mdl-button--icon nav_icons">
								<div class="material-icons mdl-badge mdl-badge--overlap badge_icons">people</div>
							</button>
							<div class="mdl-tooltip" data-mdl-for="friends_button">Friends</div>#}
							<button id="account_button" class="mdl-button mdl-js-button mdl-button--icon nav_icons">
								<div class="material-icons mdl-badge mdl-badge--overlap badge_icons">account_circle</div>
							</button>
							<div class="mdl-tooltip" data-mdl-for="account_button">Account</div>
							<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="account_button">
								<li class="mdl-menu__item"><i class="material-icons list_icon">settings</i>Settings</li>
								<li class="mdl-menu__item" onclick="window.location = '/logout'"><i class="material-icons list_icon">power_settings_new</i>Log Off</li>
							</ul>
                            {% endif %}
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right">
								<label class="mdl-button mdl-js-button mdl-button--icon" for="waterfall-exp">
									<i class="material-icons">search</i>
								</label>
								<div class="mdl-textfield__expandable-holder">
									<input class="mdl-textfield__input" type="text" name="sample" id="waterfall-exp">
								</div>
							</div>
						</div>
					</div>
					<div class="header-row_center">
						<div class="mdl-layout__title">
							<div class="logo"><a href="/"></a></div>
						</div>
					</div>
				</div>


			</div>


			<div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-layout--large-screen-only">
				<a class="mdl-layout__tab {% if request.path=='/events' %}is-active{% endif %}" href="events">Events</a>
				<a class="mdl-layout__tab {% if request.path=='/places' %}is-active{% endif %}" href="places">Places</a>
				<a class="mdl-layout__tab {% if request.path=='/photos' %}is-active{% endif %}" href="photos">Photos</a>
				<a class="mdl-layout__tab {% if request.path=='/friends' %}is-active{% endif %}" href="friends">Friends</a>
			</div>


		</header>


		<div class="mdl-layout__drawer mdl-layout--small-screen-only">
			<nav class="mdl-navigation">
				<a class="mdl-navigation__link" href="events">Events</a>
				<a class="mdl-navigation__link" href="places">Places</a>
				<a class="mdl-navigation__link" href="photos">Photos</a>
				<a class="mdl-navigation__link" href="friends">Friends</a>
			</nav>
		</div>

		<main class="mdl-layout__content">
			<div class="mdl-grid" style="max-width: 900px;min-height:600px;">
                {% block body %} {% endblock %}
			</div>



			<div class="footer_container">
				<footer class="mdl-mini-footer">
					<div class="mdl-mini-footer__left-section">
						<div class="mdl-logo">itucsdb1619</div>
					</div>
					<div class="mdl-mini-footer__right-section">
						<ul class="mdl-mini-footer__link-list">
							<li><a href="#">About</a></li>
							<li><a href="#">Privacy & Terms</a></li>
						</ul>
					</div>
				</footer>
			</div>
		</main>
	</div>
</body>
</html>