{% extends "base_new.html" %}
	{%- block body %}
	<div class="mdl-layout">
      <form action="events"
        enctype="multipart/form-data" method="post">
        <div class="mdl-grid">
 			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			    <input class="mdl-textfield__input" type="text" name="NAME">
			    <label class="mdl-textfield__label" for="sample3">Name of the event:</label>
		  	</div>
		  	</div>
		  	<div class="mdl-grid">
			<div class="mdl-textfield mdl-js-textfield">
			  <textarea class="mdl-textfield__input" type="text" rows="2" maxrows="4"
			   name="SHORT_DESCRIPTION"></textarea>
			  <label class="mdl-textfield__label" for="schools">Short Description</label>
			</div>
			</div>
			<div class="mdl-grid">
			<div class="mdl-textfield mdl-js-textfield">
			  <textarea class="mdl-textfield__input" type="text" rows="6" maxrows="10"
			   name="DESCRIPTION"></textarea>
			  <label class="mdl-textfield__label" for="schools">Description</label>
			</div>
			</div>
			<div class="mdl-grid">
		  	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			    <input class="mdl-textfield__input" type="text" name="STARTING_DATE">
			    <label class="mdl-textfield__label" for="sample3">Starting Date:</label>
		  	</div>
		  	</div>
		  	<div class="mdl-grid">
		  	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			    <input class="mdl-textfield__input" type="text" name="ENDING_DATE">
			    <label class="mdl-textfield__label" for="sample3">Ending date:</label>
		  	</div>
		  	</div>
				<div class="mdl-grid">
		    		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					  <select id="place" name="PLACE_NAME" class="mdl-textfield__input">
							{% for places in Places %}
								<option value="{{places[1]}}">{{places[1]}}</option>
							{% endfor %}
					  </select>
					<label class="mdl-textfield__label" for="place">Place</label>
					</div>
				</div>
			<button class="mdl-button mdl-js-button mdl-button--raised" name="button" type="submit" value="event">CREATE</button>
    	</form>
</div>
	{% endblock %}
