{% extends "base_new.html" %}
	{%- block body %}
		<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
	  <div class="mdl-tabs__tab-bar">
	      <a href="#Information-panel" class="mdl-tabs__tab is-active">Information</a>
	      <a href="#Participants-panel" class="mdl-tabs__tab">Participants</a>
	  </div>
	  <div class="mdl-tabs__panel is-active" id="Information-panel">
	<div class="mdl-grid">
		<!-- Simple list -->
			<style>
			.demo-list-item {
			  width: 600px;
			}
			</style>
			<ul class="demo-list-item mdl-list">
			  <li class="mdl-list__item">
			    <span class="mdl-list__item-primary-content">
			      {{Event[1]}}
			    </span>
			  </li>
			  <li class="mdl-list__item">
			    <span class="mdl-list__item-primary-content">
			     {{Event[4]}} - {{Event[5]}}
			    </span>
			  </li>
			  <li class="mdl-list__item">
			    <span class="mdl-list__item-primary-content">
			      {{Event[2]}}
			    </span>
			  </li>
			  <li class="mdl-list__item">
			    <span class="mdl-list__item-primary-content">
			      {{Event[3]}}
			    </span>
			  </li>
			</ul>
			<ul class="demo-list-item mdl-list">
			  <li class="mdl-list__item">
			    <span class="mdl-list__item-primary-content">
			      {{Place[1]}}
			    </span>
			  </li>
			  <li class="mdl-list__item">
			    <span class="mdl-list__item-primary-content">
			      {{Place[3]}}
			    </span>
			  </li>
			  <li class="mdl-list__item">
			    <span class="mdl-list__item-primary-content">
			      {{Place[4]}}
			    </span>
			  </li>
			</ul>
		</div>
		</div>
		<div class="mdl-tabs__panel" id="Participants-panel">
		<div class="mdl-grid">
		<h6>Participants:</h6>
		</div>
		<div class="mdl-grid">
		<ul class="demo-list-item mdl-list">
			{% for part in Participants %}
				<li class="mdl-list__item">
			    <span class="mdl-list__item-primary-content">
			      {{part[3]}}, {{part[5]}}
			    </span>
			  </li>
			{% endfor %}
			</ul>
		</div>
			<div class="mdl-grid">
			<form action="add_participant_event" enctype="multipart/form-data" method="post">
				<div class="mdl-grid">
		    		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
					  <select id="participant" name="participant" class="mdl-textfield__input">
							{% for friend in Friends %}
								<option value="{{friend[1]}}">{{friend[4]}}</option>
							{% endfor %}
					  </select>
					<label class="mdl-textfield__label" for="place">Your Friends</label>
					</div>
				</div>
		  	<button class="mdl-button mdl-js-button mdl-button--raised" name="button" type="submit" value="{{Event[0]}}">ADD</button>
			</form>
			</div>
		</div>
		</div>
	{% endblock %}
