{% extends "base_detailed.html" %}
<!DOCTYPE html>
<html>
  <head>

{% block style %}

div {
    width: 628px;
    border: 3px solid gray;
    margin: 0;
}
.box {
    float: left;
    width: 600px;
    margin-top: 5px;
    padding: 15px;
    border: 2px solid gray;
}
h1 {
    padding: 20px;
}
h4 {
    padding: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffaa80;
}

li {
    float: left;
}

li a {
    border-left: 1px solid gray;
    display: block;
    color: #666666;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

li a:hover {
    background-color: #ffffcc;
}

{% endblock %}

    <meta charset="utf-8" />
    {% block title %} events {% endblock %}
  </head>

  {% block body %}

  <body>
  
<div>
<ul>
  <li style="color: #000000"><a href="# Events History"> Events History</a></li>
  <li><a href="# UpcomingEvents"> Upcoming Events</a></li>
  <li><a href="# SavedEvents"> Saved Events</a></li>
  <li><a href="# EventCreation"> CREATE AN EVENT</a></li>
</ul>
</div>
<div class="box">
  <article> //here some events feed comes
  </article>
</div>


  {% endblock %}
</html>
