{% extends "base_new.html" %}
  {%- block body %}
<div class="mdl-grid">
  <form action="EventCreation" method="GET">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
      CREATE EVENT
    </button>
  </form>
  <form action="create_meeting" method="GET">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
      CREATE MEETING
    </button>
  </form>
</div>

<div class="mdl-grid">
    <table width="600"; class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Event Name</th>
          <th class="mdl-data-table__cell--non-numeric">Description</th>
          <th class="mdl-data-table__cell--non-numeric">Date</th>
          <th class="mdl-data-table__cell--non-numeric">Actions</th>
        </tr>
      </thead>
      <tbody>
      {% for event in Event %}
        <tr>
            <td class="mdl-data-table__cell--non-numeric">{{event[1]}}</td>
            <td class="mdl-data-table__cell--non-numeric"> {{event[2]}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{event[4]}} - {{event[5]}}</td>
            <td class="mdl-data-table__cell--non-numeric">
          <form action="eventPage" method="post">
            <button class="mdl-button mdl-js-button mdl-button--raised" name="button" type="submit" value="{{ event[0] }}">Select</button>
           </form>
           <form action="update_event_page" method="post">
            <button class="mdl-button mdl-js-button mdl-button--raised" name="button" type="submit" value="{{ event[0] }}">Update</button>
           </form>
           <form action="deleteEvent" method="post">
            <button class="mdl-button mdl-js-button mdl-button--raised" name="button" type="submit" value="{{ event[0] }}">Delete</button>
           </form>
        </td>
        </tr>
         {% endfor %}
      </tbody>
    </table>
        </div>
        <div class="mdl-grid">
    <table width="600"; class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Meeting Name</th>
          <th class="mdl-data-table__cell--non-numeric">Description</th>
          <th class="mdl-data-table__cell--non-numeric">Date</th>
          <th class="mdl-data-table__cell--non-numeric">Actions</th>
        </tr>
      </thead>
      <tbody>

      {% for meeting in Meeting %}
        <tr>

            <td class="mdl-data-table__cell--non-numeric">{{meeting[1]}}</td>
            <td class="mdl-data-table__cell--non-numeric"> {{meeting[2]}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{meeting[3]}}</td>
            <td class="mdl-data-table__cell--non-numeric">
          <form action="meeting_page" method="post">
            <button class="mdl-button mdl-js-button mdl-button--raised" name="button" type="submit" value="{{ meeting[0] }}">Select</button>
           </form>
           <form action="meeting_update_page" method="post">
            <button class="mdl-button mdl-js-button mdl-button--raised" name="button" type="submit" value="{{ meeting[0] }}">Update</button>
           </form>
           <form action="meeting_delete" method="post">
            <button class="mdl-button mdl-js-button mdl-button--raised" name="button" type="submit" value="{{ meeting[0] }}">Delete</button>
           </form>
        </td>
        </tr>
         {% endfor %}
      </tbody>
    </table>
        </div>


{% endblock %}
