{% extends "base_new.html" %}
{% block body %}
    <script>
        function post(path, params, method) {
        method = method || "post";
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);
        for(var key in params) {
        if(params.hasOwnProperty(key)) {
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", key);
        hiddenField.setAttribute("value", params[key]);
        form.appendChild(hiddenField);
        }}
        document.body.appendChild(form);
        form.submit();
        }
        function del(uid) {
            post('/friends',{id:uid, action:'delete'})
        }
        function writeto(uid, name) {
            document.forms[0].elements['id'].value = uid;
            document.getElementById('receiver').innerText = 'Send to ' + name;
            document.getElementById('send_message').style.display='block';

        }
        function open_search() {
            document.getElementById('search_friend').style.display='block';
        }
        {% if show_message %}
        window.onload = function() {
            var notification = document.querySelector('.mdl-js-snackbar');
            notification.MaterialSnackbar.showSnackbar({message: '{{ show_message }}'});
        };
        {% endif %}
    </script>

    <div class="mdl-card mdl-shadow--2dp" style="margin: 10px 20px; height: 100%;">
        <div class="mdl-card__title mdl-card--border">
            <h4 class="mdl-card__title-text">Your Friends</h4>
        </div>
        {% if friends %}
            <ul class="demo-list-control mdl-list mdl-js-ripple-effect">
            {%for f in friends %}
                <li class="mdl-list__item" onmouseover="document.getElementById('{{ f[0] }}').style.display = 'inline';"
                    onmouseout="document.getElementById('{{ f[0] }}').style.display = 'none';">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-avatar">person</i>
                        <span>{{ f[1] }}</span>
                    </span>

                    <span class="mdl-list__item-secondary-action" id="{{ f[0] }}" style="display: none">
                        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored"
                        id="{{ f[0] }}_write" onclick="writeto({{ f[0] }}, '{{ f[1] }}')">
                            <i class="material-icons">create</i>
                        </button>
                        <div class="mdl-tooltip" data-mdl-for="{{ f[0] }}_write">Write Message</div>
                        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored"
                        id="{{ f[0] }}_delete" onclick="del({{ f[0] }})">
                            <i class="material-icons">delete</i>
                        </button>
                        <div class="mdl-tooltip" data-mdl-for="{{ f[0] }}_delete">Delete</div>
                    </span>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            No friends yet
        {% endif %}

        <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-button--accent"
                    onclick="open_search()">
                <i class="material-icons">add_circle</i>
            </button>
        </div>
    </div>

    <div class="mdl-card mdl-shadow--4dp" id="send_message" style="margin: 10px 20px; height: 100%; display: none">
        <div class="mdl-card__title mdl-card--border">
            <h4 class="mdl-card__title-text" id="receiver">Send to </h4>
        </div>
        <div class="mdl-card__supporting-text">
            <form action="send_message" method="POST">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="title" name="title" />
                    <label class="mdl-textfield__label" for="title">Title</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                    <textarea class="mdl-textfield__input" rows= "3" id="message" name="message"></textarea>
                    <label class="mdl-textfield__label" for="message">Write your message...</label>
                </div>
                <input style="display: none" name="id"/>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                            type="submit">
                        Send
                </button>
            </form>
        </div>

    </div>

    <div class="mdl-card mdl-shadow--4dp" id="search_friend" style="margin: 10px 20px; height: 100%; display: none">
        <div class="mdl-card__title mdl-card--border">
            <h4 class="mdl-card__title-text">Search by name</h4>
        </div>
        <div class="mdl-card__supporting-text">
            <form action="add_friend" method="POST">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="search_name" name="searched_name" />
                    <label class="mdl-textfield__label" for="search_name">Name</label>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                            type="submit">
                        Add
                </button>
            </form>
        </div>

    </div>

    <div aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button type="button" class="mdl-snackbar__action"></button>
    </div>
{% endblock %}
