{% extends "base_new.html" %}
{% block body %}
    <script>
        function getUrlVars() {
            var vars = {};
            var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
                vars[key] = value;
            });
            return vars;
        }
        function set_name(name, id) {
            //document.getElementById('select_user').innerText = name;
            window.location = "?user=" + id
        }
        window.onload = function () {
            var radios = document.getElementsByName('options');
            for (var i = 1; i < radios.length; i++) {
                radios[i].onclick = function () {
                    document.getElementById('actionData').value = this.value;
                    document.getElementById('delete').disabled = false;
                    document.getElementById('update').disabled = true;
                }
            }
            radios[0].onclick = function () {
                document.getElementById('actionType').value = 'add';
                document.getElementById('delete').disabled = true;
                document.getElementById('update').disabled = true;
            }
            if (getUrlVars().user == null) {
                document.getElementById('select_user').innerText = 'Select a user';
            }
        };

    </script>

    <div style="margin: 20px 0;text-align: center;width: 400px;display:inline-block">
        <button style="width: 88px; margin: 8px;" id="create"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                onclick="window.location.href = 'friends_init?action=create'">
            Create
        </button>
        <button style="width: 88px; margin: 8px;" id="fill" disabled
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                onclick="window.location.href = 'friends_init?action=fill'">
            Fill
        </button>
        <button style="width: 88px; margin: 8px;" id="drop"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                onclick="window.location.href = 'friends_init?action=drop'">
            Drop
        </button>
        <button id="select_user"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                style="width: 302px;margin-top: 20px;">
            Select a user
        </button>

        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
            for="select_user">
            {% for t in users %}
                <li class="mdl-menu__item" onclick="set_name('{{ t[0] }}', {{ t[1] }})">{{ t[0] }}</li>
            {% endfor %}
        </ul>

        <form class="login_form" method="POST" action="/friends">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text"
                       id="newfriend" name="Search Name">
                <label class="mdl-textfield__label" for="newfriend">Add a new Friend by Name</label>
            </div>

            <input style="display:none;" type="text" id="actionType" name="actionType" value="add">
            <input style="display:none;" type="text" id="actionData" name="actionData" value="0">
            <input id="add" style="width:140px;margin:10px;"
                   class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit"
                   value="Add" onclick="document.getElementById('actionType').value = 'add'
                                                 document.forms[0].method = 'POST';">
            <input id="select" style="width:140px;margin:10px;"
                   class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit"
                   value="Select" onclick="document.getElementById('actionType').value = 'select';
                                                   document.forms[0].method = 'GET';">
            <input id="update" style="width:140px;margin:10px;"
                   class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit"
                   value="Update" disabled onclick="document.getElementById('actionType').value = 'update'
                                                            document.forms[0].method = 'POST';">
            <input id="delete" style="width:140px;margin:10px;"
                   class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit"
                   value="Delete" disabled onclick="document.getElementById('actionType').value = 'delete'
                                                            document.forms[0].method = 'POST';">
        </form>

    </div>
    <ul style="width:400px;display:inline-block;float:right;margin: 20px 0;padding:0">
        <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        {{ user[0][0] }}'s friends
                    </span>
            <span>
                        Select none
                    </span>
            <span style="margin-top: -30px;" class="mdl-list__item-secondary-action">
                        <label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect"
                               for="list-option--1"/>
                        <input style="display: inline;" type="radio" id="list-option--1"
                               class="mdl-radio__button" name="options" value="add" checked/>
                    </span>
        </li>
        {% for t in rows %}
            <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons  mdl-list__item-avatar">person</i>
                        p_{{ t[0] }}'s relation with p_{{ t[1] }} is {{ t[2] }}
                    </span>
                <span style="margin-top: -30px;" class="mdl-list__item-secondary-action">
                        <label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect"
                               for="list-option-{{ t[0] }},{{ t[1] }}"/>
                        <input style="display: inline;" type="radio" id="list-option-{{ t[0] }},{{ t[1] }}"
                               class="mdl-radio__button" name="options"
                               value="{{ t[0] }},{{ t[1] }}"/>
                    </span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
