<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
<title> AdVMeet </title>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>

<body>

<h1>AdVMeet</h1>

<!-- this is a comment -->
<p>Where your journey starts.</p>
<hr>

<img title="island"  src="/static/DSC_1943.jpg" alt="resim bulunamadi" width="404" height="242">
<hr>

<ul>
  <li><a href="{{ url_for('events_page') }}">Events</a></li>
  <li><a href="{{ url_for('places_page') }}">Places</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#friends">Friends</a></li>
  <li><a href="#{{ url_for('photos_page') }}">Photos</a></li>
  <li style="float:right"><a class="active" href="#about">About</a></li>
</ul>


<hr style="clear:both;">

<address>
Written by Muhammed isiyok<br>
Visit us at: itu<br>
isiyok.com<br>
Box 564, Disneyland<br>
USA
</address>

</body>
</html>
