<!DOCTYPE html>
<html>
<style>

.logo {
    height: 200px;
    width: 600px;
    position: static;
    padding-left: 710px;
}

.feed{
    width: 535px;
    height:465px;
    border: 2px solid gray;
    margin-top: 20px;
    margin-left: 350px;
    border-radius: 0.5em;
    background-color: #e6e6ff;
    display: block;
}
.login{
    width: 100px;
    height:50px;
    border: 2px solid gray;
    margin-top: 180px;
    margin-left: 200px;
    border-radius: 0.5em;
    background-color: #e6e6ff;
    display: block;
}
</style>
<head>
    <meta charset="utf-8" />
    <title> Home </title>
     <head style="background-color: #ffffe6;">
     <div class = "logo">
          <a href="#home"><img style = "opacity: 0.7; border: 3px solid #94b8b8; border-radius: 1em;" src="logo.jpg"></a>
    </div>
   <hr>
</head>
<body background="wall.jpg">

    <div class = "feed">
        <div class = "login">
            <a href="mypage.html">LOG IN</a>
        </div>
    </div>
</body>

</html>
