{% extends "base_new.html" %}
{% block body %}
    <script>
        function post(path, params, method) {
        method = method || "post";
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);
        for(var key in params) {
        if(params.hasOwnProperty(key)) {
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", key);
        hiddenField.setAttribute("value", params[key]);
        form.appendChild(hiddenField);
        }}
        document.body.appendChild(form);
        form.submit();
        }
        {% if show_message %}
        window.onload = function() {
            var notification = document.querySelector('.mdl-js-snackbar');
            notification.MaterialSnackbar.showSnackbar({message: '{{ show_message }}'});
        };
        {% endif %}
    </script>

    {% if messages%}
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">From</th>
                <th class="mdl-data-table__cell--non-numeric">Title</th>
                <th class="mdl-data-table__cell--non-numeric">Message</th>
                <th class="mdl-data-table__cell--non-numeric">Date</th>
            </tr>
            </thead>
            <tbody>
            {% for m in messages %}
                <tr id="{{ m[0] }}">
                    <td class="mdl-data-table__cell--non-numeric">{{ m[2] }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ m[3] }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ m[4] }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ m[5] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <div aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button type="button" class="mdl-snackbar__action"></button>
    </div>
{% endblock %}

