{% extends "base.html" %}

<!DOCTYPE html>
<html>
<head>

{% block style %}

div.block {
	height:300px;
	width: 754px;
	border: 1px solid gray;
	margin: 0 auto;
	margin-bottom: 50px;
}
div.header {
	width: 300px;
	height: 50px;
	float: left;
	border: 1px solid red;
}
div.info {
	width: 450px;
	height: 300px;
	border: 1px solid blue;
	float: right;
}
div.picture {
	
}
img {
	margin-left: 50px;
	margin-top: 25px;
}

{% endblock %}

{% block title %} places {% endblock %}

</head>
<body>
	<div class="block">
		
		<div class="header">
		<p><center>Place Name</center></p>
		</div>
		<div class="info">
		<p style="margin-left: 100px"><b><br><br><br><br><br><br>Information about the place, and meeting</b></p>
		</div>
		<div class="picture">
		<img src="/static/index.jpeg">
		</div>
	
	</div>

	<div class="block">
		<div class="header">
		<p><center>Place Name</center></p>
		</div>
		<div class="info">
		<p style="margin-left: 100px"><b><br><br><br><br><br><br>Information about the place, and meeting</b></p>
		</div>
		<div class="picture">
		<img src="/static/indexx.jpeg">
		</div>
	</div>

	<div class="block">
		<div class="header">
		<p><center>Place Name</center></p>
		</div>
		<div class="info">
		<p style="margin-left: 100px"><b><br><br><br><br><br><br>Information about the place, and meeting</b></p>
		</div>
		<div class="picture">
		<img src="/static/index2.jpeg">
		</div>
	</div>

</body>
</html>
